#header {
  position: fixed;
  z-index: 2000;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
}
#header nav {
  font-family: "Calibri";
  max-width: 900px;
  margin: 0 auto;
}
#header nav #hover{
  background-color: rgba(0, 0, 0, 0.7);
}
#header a {
  color: white;
  display: inline-block;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
}
#header a:hover, #header a.active {
  background-color: rgba(0, 0, 0, 0.7);
}

#position-block {
  position: fixed;
  z-index: 1000;
  color: white;
}

/*h1 {
  font-family: "Dosis";
  font-style: normal;
  font-weight: 600;
  color: white;
  font-size: 69px;
  line-height: 78px;
  padding: 20px 0px 10px 20px;
  margin: 0;
}*/
h1{
	background-color: rgba(82,96,117,0.5);
	-webkit-background-clip: text;
	color: #dfdfdf;
	text-shadow: rgba(255,255,255,0.5) 0 5px 6px;
	margin:0px auto;
	margin-top:150px;
	font-family:'DancingScript', Helvetica, Arial;
	font-weight:bold;
	font-size:120px;
	/*border-top:1px dashed #dfdfdf;
	border-bottom:1px dashed #dfdfdf;*/
	padding:20px;
	width:700px;
	text-align:center;
}
h2 {
	background-color: rgba(82,96,117,0.5);
	-webkit-background-clip: text;
	color: #dfdfdf;
	text-shadow: rgba(255,255,255,0.5) 0 5px 6px;
	margin:0px auto;
	font-family:'DancingScript', Helvetica, Arial;
	font-weight:bold;
	font-size:60px;
	/*border-top:1px dashed #dfdfdf;
	border-bottom:1px dashed #dfdfdf;*/
	padding:20px;
	width:700px;
	text-align:center;
}
h3{
	background-color: rgba(82,96,117,0.5);
	-webkit-background-clip: text;
	color: #dfdfdf;
	text-shadow: rgba(255,255,255,0.5) 0 5px 6px;
	margin-left:-0.001%;
	font-family:'DancingScript', Helvetica, Arial;
	font-weight:bold;
	font-size:20px;
	width:700px;
	text-decoration:none;
}
h3 a:link, a:active, a:hover, a:visited{
    color: #dfdfdf;
    text-decoration:none;
}
#slide{
   margin:0 0 0 -0.01px;

}
@font-face{
   font-family:DancingScript;
   src:url(../font/DancingScript-Bold.ttf);
}
p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  color: black;
  font-size: 15px;
  line-height: 28px;
  margin-top: 0px;
  text-align: justify;
}

article {
  position: relative;
/*  -moz-box-shadow: black 0px 0px 15px;
  -webkit-box-shadow: black 0px 0px 15px;
  box-shadow: black 0px 0px 15px; */
}
article header {
  padding-top: 30px;
}
article .content {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  -moz-column-gap: 60px;
  -webkit-column-gap: 60px;
  column-gap: 60px;
  padding: 0 20px 60px 20px;
}
article .container {
  width:100%;
  height:150%;
  max-width: 900px;
  margin: 0 auto;
}

.panel {
  position: relative;
  width: 100%;
}

.panel.one article {
  background-image: url("../images/home-background.png");
  background-repeat:no-repeat;
  background-size:100%;
  width:100%;
  height:100%;
}

.panel.two article {
  background-color: #fffef9;
  opacity: 0.8;
  filter: alpha(opacity=40); /* For IE8 and earlier */
  width:100%;
  height:500%;
}

.panel.three article {
  background-image: url("../images/home-background.png");
  background-repeat:no-repeat;
}
/*-------------------------calendar----------------------------------*/
.yui3-squarespacecalendar .yui3-calendar-header {
  margin: 0 0 34px 0;
  padding: 0;
  overflow: hidden;
  -webkit-transition: opacity .3s ease-in;
  transition: opacity .3s ease-in;
}
.yui3-calendarnav-prevmonth{
  float: left;
  margin-left:22%;
  margin-top:14.5%;
  text-align: left;
}
.yui3-calendarnav-nextmonth {
  margin-left:75%;
  position:relative;
  top:-80px;
}
.yui3-squarespacecalendar .yui3-calendar-grid {
  table-layout: fixed;
  width: 100%;
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 4px;
  outline: 0;
  -webkit-transition: opacity .3s ease-in;
  transition: opacity .3s ease-in;
}
.yui3-squarespacecalendar .yui3-calendar-weekday {
  opacity: .7;
  padding-bottom: 10px;
  color: inherit;
  font-size: 12px;
  line-height: 12px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}
.yui3-squarespacecalendar .yui3-calendar-day, .yui3-squarespacecalendar .yui3-calendar-prevmonth-day, .yui3-squarespacecalendar .yui3-calendar-nextmonth-day {
  position: relative;
  width: 14%;
  height: 100%;
  background: rgba(110,110,110,.05);
  color: inherit;
  vertical-align: top;
  outline: none;
  cursor: default;
  box-sizing: border-box;
}

.yui3-calendar-column-hidden, .yui3-calendar-hidden {
  display: none;
}
#April{
  	font-size:60px;
}

#clndr{
  margin-top: -10%;
  margin-left: 12%;
  width:100%;
  height:100%;
  position:absolute;
}
#clndr-inside{
 margin-top:-5%;
}
/*-------------------------image-hover----------------------------*/
#gallery-title{
  margin-left:60px;
}
.nextmonth{
 position:relative;
 left:870px;
 top:-65px;
}
.prevmonth{
  position:relative;
  top:89px;
}

article #hover-gallery{
   width:1000px;
   height:150%;
   padding: 0 20px 60px 20px;
}

/*#panelTwo{
 position: fixed;
 z-index: 1;
}

#panelOne {
	position: fixed;
	z-index: 2;
}*/